.foot-cont
{  background-color: black;
    padding: 4rem 0 2rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
}
.foot-head
{
    font-size: 0.8cm;
    text-align: center;
    margin-bottom: 24px;
}
.foot-text
{
    font-size: 0.5cm;
    text-align: center;
    margin-bottom: 24px;
}
.foot-cont1
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    margin-bottom: 24px;
    padding: 24px;
}
.foot-form
{
    margin-bottom: 24px;
}

.foot-cont1 > p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.e{
    outline: none;
   margin-right: -10px;
    width: 8cm;
    height: 1cm;
    border-radius: 4px solid black;
    justify-content: center;
    
}
.e::placeholder
{
    color: gray;
}

.foot-link
{
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 1000px;
}
.foot-wrap
{
    display: flex;
    width: 100%;
}
.foot-item
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    box-sizing: border-box;
    width: 7cm;

}
.foot-item > h2
{
    margin-bottom: 16px;
    color: white;
}
.foot-item a{
    text-decoration: none;
    margin-bottom: 10px;
    color: white;

}
.foot-item a:hover
{
color: #e9e9e9;
transition: all 0.3s ease-out;
}


.m
{
    max-width: 1000px;
    width: 100%;
    margin-top:17px;
   margin-bottom: -30px;
}
.social
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 10px;
}
.log
{
    display: flex;
    justify-self: start;
    align-self: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 0.5cm;
    color: white;
}
.log:hover,.icoo:hover
{
    text-decoration: none;
    color: rgb(128, 128, 128);
}
.ri
{
    color: white;
}
.ico
{
    display: flex;
    gap:10px;
    font-size: 0.5cm;
}
.icoo
{
    color: white;
}
@media screen and (max-width:960px)
{
.foot-head
{
    font-size:0.6cm;
}
.e
{
    width:6.7cm;
    margin-left: -30px;
}
.foot-item
{
    width:5cm;
}
}